<div class="w-full bg-white shadow-md flex items-center">
    <img src="/logo.png" alt="logo" class="w-20 select-none mx-10 p-4" />
  
    <ul class="flex items-center text-sm font-semibold uppercase text-[#4e515f]">
      <li class="py-6 px-4 hover:border-b-4 border-transparent hover:border-[#ffa3b9] transition-all duration-300 ease-in-out">
        men
      </li>
      <li class="py-6 px-4 hover:border-b-4 border-transparent hover:border-[#ffa3b9] transition-all duration-300 ease-in-out">
        women
      </li>
      <li class="py-6 px-4 hover:border-b-4 border-transparent hover:border-[#ffa3b9] transition-all duration-300 ease-in-out">
        kids
      </li>
      <li class="py-6 px-4 hover:border-b-4 border-transparent hover:border-[#ffa3b9] transition-all duration-300 ease-in-out">
        home & living
      </li>
      <li class="py-6 px-4 hover:border-b-4 border-transparent hover:border-[#ffa3b9] transition-all duration-300 ease-in-out">
        beauty
      </li>
      <li class="py-6 px-4 hover:border-b-4 border-transparent hover:border-[#ffa3b9] transition-all duration-300 ease-in-out">
        studio
      </li>
    </ul>
  
    <!-- Search input with icon -->
    <div class="relative ml-10">
      <i class="fas fa-search absolute left-3 top-1/2 transform -translate-y-1/2 text-zinc-700"></i>
      <input
        type="text"
        placeholder="Search for products, brand & more"
        class="pl-10 py-2 w-[30vw] placeholder:text-zinc-700 font-normal bg-[#f5f5f5] outline-none rounded"
      />
    </div>
  
    <ul class="flex items-center text-[12px] font-semibold text-zinc-900 ml-20 space-x-6 relative">
      <!-- Profile -->
      <li class="flex flex-col items-center justify-center group relative">
        <i class="far fa-user text-lg"></i>
        <span class="pt-1 hover:border-b-4 border-transparent hover:border-[#ffa3b9] transition-all duration-300 ease-in-out">Profile</span>
        <!-- Dropdown Modal -->
        <ul class="absolute top-full left-1/2 transform -translate-x-1/2 p-2 bg-white shadow-lg rounded-md hidden group-hover:flex flex-col">
          <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Account</li>
          <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Orders</li>
          <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Settings</li>
          <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer">Logout</li>
        </ul>
      </li>
      <!-- Wishlist -->
      <li class="flex flex-col items-center justify-center">
        <i class="far fa-heart text-lg"></i>
        <span class="pt-1 hover:border-b-4 border-transparent hover:border-[#ffa3b9] transition-all duration-300 ease-in-out">Wishlist</span>
      </li>
      <!-- Bag -->
      <li class="flex flex-col items-center justify-center">
        <i class="fa fa-shopping-bag text-lg"></i>
        <span class="pt-1 hover:border-b-4 border-transparent hover:border-[#ffa3b9] transition-all duration-300 ease-in-out">Bag</span>
      </li>
    </ul>
  </div>
  